@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body{
  font-family: 'Roboto Slab', serif;
}
.main{
  display: flex;
  align-items: center;
  justify-content: center;
margin-left: 1rem;
}